PRIVATE_KEYS=0x
JSON_RPC_ETHEREUM_MAINNET=
JSON_RPC_ETHEREUM_GOERLI=https://
JSON_RPC_POLYGON_MAINNET=https://polygon-rpc.com/
JSON_RPC_POLYGON_MUMBAI=https://
JSON_RPC_OPTIMISM_TESTNET=https://
BADGE_CONTRACT_ADDRESS=0xF7f39710DA63fefc0d496038CeeeeCAF5E3e4F1d
PLAY_DAO_CONTRACT_ADDRESS=0xD0C10B97a85F65B08c6F584e8B024371AC786b84
